@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');


:root {
  --font-geist: 'Geist', sans-serif;
}

body {
  font-family: var(--font-geist);
}